<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Page</title>
    <link rel="icon" href="/img/weather.png">
    <link href="/css/styels.css" rel="stylesheet">
</head>
<body>
    {{>header}}
   <img src="./img/Tech-marrow.png">
   <p><b>It uses data from mapboxcom and openweathermap.org</b></p>
   {{>footer}}
</body>
</html>